input {
	clear: left;
	height: 3em;
	width: 100%;
}
#people {
	width: 100%;
}
.person {
	width: 24%;
	float: left;
	border: 1px solid black;
	margin: 2px;
}
img {
	width: 98%;
	padding: 1%;
	height: auto;
}
.person:nth-child(odd) {
	background: lightblue;
}
.person:nth-child(even) {
	background: yellow; /*I can't see the light yellow, so I changed it*/
}
.clicked {
	border: 2px dotted red;
}
